
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes image_blur {
    0% { -webkit-filter: blur(5px);}
    100% { -webkit-filter: blur(0px);}
}

.pageHeaderTextDiv{
  position: absolute;
  left: 10%;
  top: 20%;
  z-index: 1;
}


.bannerImg {
    animation: image_blur 5s;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 80%;
    top: 0px;
    overflow: auto;
    overflow-x: hidden;
}

.parent-isLight{
    background-color: #c6dde1;
    transition: 2s;
}
.parent-isDark{
    background-color: #2a3e47;
    transition: 2s;
}

.parent-isLight .App-logo g{
    fill:rgb(97, 218, 251);;
    transition: 2s;
}
.parent-isDark .App-logo g{
    fill:rgb(255, 255, 255);
    transition: 2s;
}

.drawerContainer{
  width: 20%;
  height: 100%;
  background-color: whitesmoke; 
  transition: 2s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parent-isLight .drawerContainer{
  background-color: #e5fbff; 
}
.parent-isDark .drawerContainer{
  background-color: rgb(36 52 61); 
}

.App-logo {
    height: 150%;
    width: 150%;
    pointer-events: none;
    transition: 2s;
    position: absolute;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .aboutMeTitleText{
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .aboutMeImg1, .aboutMeImg2{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 2s;
  }

.parent-isDark .aboutMeImg1{
    background-color: #1f2e66;
    box-shadow: 0.68vw 0.68vw 1.04vw #0f1f2f, -0.68vw -0.68vw 1.04vw #326cb2
}

.parent-isLight .aboutMeImg1{ 
    background-color: #d7f8fe;
    box-shadow: 0.68vw 0.68vw 1.04vw #bedeff, -0.68vw -0.68vw 1.04vw #c1f5ff;
}

.parent-isDark .aboutMeImg2{
  background-color: #1f2e66;
  box-shadow: 0.68vw 0.68vw 1.04vw #2f2d0f, -0.68vw -0.68vw 1.04vw #2d2d2d
}

.parent-isLight .aboutMeImg2{ 
  background-color: #d7f8fe;
  box-shadow: 0.68vw 0.68vw 1.04vw #c3c3c3, -0.68vw -0.68vw 1.04vw #ecefe2;
}

.slideInRightAnimation {
  animation: 2s ease-out 0s 1 slideInRightAnimation forwards;
}

.aboutMeImg1TextDiv{
  width: 90%;
}

@keyframes slideInRightAnimation {
  0% {
    opacity: 0;
    transform: translate(1vw,0);
  }
  100% {
    opacity: 1;
    transform: translate(0vw,0);
  }
}


.parent-isDark .theme-icon-div svg{
    color:white;
    transition:2s;
}
.parent-isLight .theme-icon-div svg{
    color:black;
    transition:2s;
}



.parent-isDark .bar-test{
    width: 30%;
    height: 1vw;
    background-image: linear-gradient(to right,#000000, #ffffff);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: grayscale(100%);
  }

  .parent-isLight .bar-test{
    width: 30%;
    height: 1vw;
    background-image: linear-gradient(to right,#415574, #0084ff);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 3px 1px #097eed;
  }

  .incrase-bar {
    animation: 3s ease-out 0s 1 increaseBar forwards;
  }
 
  .incrase-bar2 {
    animation: 3s ease-out 0s 1 increaseBar2 forwards;
  }
 

  @keyframes increaseBar {
    0% {
      width: 0%;
    }
    100% {
      width: 110%;
    }
  }

  .reactIconDiv{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 5vw;
    height: 5vw;
    position: absolute;
    z-index: 2;
    right: 16.3%;
    top: 11%;

  }


  .parent-isDark .font-color{
    color:white;
    transition: 2s;
  }
  .parent-isLight .font-color{
    color:black;
    transition: 2s;
  }
  
  .font-30px{
    font-size: 1.56vw;
  }
  
  .font-25px{
    font-size: 1.302vw;
  }
  .font-20px{
    font-size: 1.04vw;
  }
  .font-15px{
    font-size: 0.78vw;
  }
  .font-bold{
    font-weight: bolder;
  
  }
  

  
/*Skill Section*/

@import "skill-section.module.css";

.skillTitle{
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillSectionBox{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.skillSectionBoxDiv{
    height: 32vw;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.skillSectionLayer3{
    width: 94%;
    border-radius: 0.5vw; 
    overflow: hidden; 
    
}

.parent-isDark .skillSectionLayer3{
  box-shadow: 0.68vw 0.68vw 1.04vw #13191b, -0.68vw -0.68vw 1.04vw #22264a;
}
.parent-isLight .skillSectionLayer3{
  box-shadow: 0.68vw 0.68vw 1.04vw #c1c1c1, -0.68vw -0.68vw 1.04vw #e9fbff;
}

.skillSectionBoxTitle{
    padding: 1%;
    transition: 2s;
}

.parent-isDark .skillSectionBoxTitle{
  background-image: linear-gradient(to right,#3e598d, #4b6374);
}
.parent-isLight .skillSectionBoxTitle{
  background-image: linear-gradient(to right,#acf7ff, #96bad3);
}

.skillSectionBarDiv{
    padding: 1%;
    height: 25vw;
    max-height: 25vw;
    display: flex;
}

.parent-isDark .skillSectionBarDiv{
  background-color: #1d1d1d;
}
.parent-isLight .skillSectionBarDiv{
  background-color: #f9f9f9;
}
.skillSection_X_Lable_Div{
    width: 15%;
    height: 100%;
    max-height: 100%;
}

.skillSection_Y_Lable_Div{
    padding: 1%;
    height: 2vw;
    max-height: 20vw;
    display: flex;
    padding-top: 0%;
    transition: 2s;
}

.parent-isDark .skillSection_Y_Lable_Div{
  background-color: #1d1d1d;
}
.parent-isLight .skillSection_Y_Lable_Div{
  background-color: #f9f9f9;
}

.skillSection_X_Lable_Text{
    height: 7.692%;
    max-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

.skillSection_X_Value{
    height: 7.692%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.bar-table{
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to right,#a7ecba, #5a5a5a);
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  .incrase-bar2 {
    animation: 3s ease-out 0s 1 increaseBar2 forwards;
  }
 

  @keyframes increaseBar2 {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  /*skill section*/

  /*tic tac toe*/
  .tictactocContainer{
    width:25%;
    padding-bottom: 25%;
    background-color: white;
    position: relative;

  }
  .tictactocBigSquare{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   
  }
  .tictactocRow{
    width:100%;
    height:33.3%;
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  .tictactocSmallSquare{
    width:calc(1 / 3 * 100%);
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0 0 1px #000000,0 0 1px #000000,0 0 1px #000000;
  }
  
  .tictactocCrossCircle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*tic tac toe*/